# Specifies the map filename to be used
map include/casarea.png 

# If false then white color is free, if true then white color is occupied\n"    
negateColor 0

# Specifies the map pixel resolution to be used\n"
mapResolution 0.05

# Specifies the narrowest passage in the map\n"    
narrowestPassage 0.987

# Specifies the robot's Center of Rotation in respec to the center of Area
robotCenter -0.3 0

# Specifies the robot's Height\n"
robotHeight 0.9

# Specifies the robot's Width\n"	
robotWidth 0.5

# Specifies the distance to the goal to end the search\n"
distanceToGoal 0.4

# Specifies the length of the bridge test.\n"
bridgeLength 2.5

# Specifies the resolution of the bridge test sampling.\n"
bridgeResolution 0.1

# Specifies the distance for connecting bridge samples.\n"	
bridgeConnectionRadius 0.5

# Specifies the distance for connecting regular grid samples.\n"	
regularGridConnectionRadius 0.4

# Specifies the resolution for regular grid sampling.\n"	
regularGridResolution 0.2

# Specifies the distance to obstacle to start penalizing.\n"	
obstaclePenalty 3

# Specifies the X Y and Phi start Pose\n"
start 5.721 -4.324 180

# Specifies the X Y and Phi end   Pose\n"
end  -8.5 6.5 180